body{
    padding: 5%;
}

h2{
    padding: 1%;
    font-size: 25px;
    text-align: center;
}
.maindiv{
    display: flex;
}
.form-page{
    margin-top: 5%;
    border: 1px solid black;
    padding: 5%;
    padding-top: 0%;
    box-shadow: 1px 1px 15px 0;
    width: 100%;
}
.form-h4{
    text-align: center;
    margin-top: 5%;

}
.form-input{
    margin-bottom: 10px;
}
