
.main-div{
    display: flex;

}
.view-page{
    padding: 5%;
    box-shadow: 1px 1px 20px 0;
 
    margin-bottom: 2%;
}
p{
    line-height: 10px;
    font-size: 17px;
    font-weight: 500;
    color: black;

}

.right-div{
    margin-left: 5%;
  
}
.bill-sec{
    margin-top: 3%;
}
h1, h2, h4{
    color: #606c7c !important;
}
h1{
    font-size: 43px !important;
    margin-top: 0%;
}
h2{
    font-size: 36px !important;
}
h4{
    font-size: 20px !important;
}

.table-left{
    width: 40%;
    margin-top: 1%;
}
.table-right{
    width: 50%;
    margin-top: 1%;
    margin-left: 3%;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;

  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
   
    padding: 10px;
  }
  
  #customers tr:nth-child(even){background-color: #f4f4fc;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    background-color: #606c7c;
    color: white;
  }

  .right-details{
    width: 80%;
    margin-top: 1%;

  }
  .left-details{
    width: 100%;
    float: right;
    margin-top: 1%;
  }
  .invoice{
    text-align: left;
  }
  hr{
    background: 'lime';
    color: 'lime';
    border-Color: 'lime';
    height: '3px'
  }
  .amount{
    text-align: right;
    
  }
  .unitcost{
    text-align: right;
  }
  .quantity{
    text-align: center;
  }
  .pdf_button{
    text-align: center;
    background-color: rgba(43, 43, 201, 0.795);
    color: whitesmoke;
    padding: 10px;
    border: none;
    font-weight: bold;
  }